<div class="center">
	<h1>This view has been overridden by the "{{name}}" backup provider!</h1>
	<br />
	<p>
		<img src="{{asset "kramerica.gif"}}" alt="Kramerica industries" width="300px" />
	</p>
</div>